<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.telecom.contactsproviderdemo">

    <permission
        android:name="com.telecom.contactsproviderdemo.READ_WRITE"
        android:label="Read And Write Contacts Pomission"
        android:protectionLevel="normal"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity android:name=".ContactsProviderActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name=".ContactsProvider"
            android:authorities="com.telecom.contactsproviderdemo.ContactsProvider"
            android:enabled="true"
            android:exported="true"
            android:permission="com.telecom.contactsproviderdemo.READ_WRITE">
        </provider>

        <activity
            android:name=".CursorLoaderActivity"
            android:icon="@drawable/bird"
            android:label="CursorLoader示例">
        </activity>
    </application>

</manifest>